<h1 class="display-6 text-center">Create a New Post</h1>
<div class="container">
    <div class="row align-items-start">
        <div class="col">
            <form>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Title</label>
                    <input class="form-control" id="createTitle">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">textarea</label>
                    <textarea class="form-control" id="createText" rows="3"></textarea>
                </div>
            <button type="submit" class="btn btn-primary" id="createForm">Submit</button>
            </form>
        </div>
    </div>
</div>
<script src="/js/create.js"></script>